.dataset-editor {
    display: flex;
    flex-direction: row;
}

.dataset-options {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--ui-space-m);
    padding: var(--ui-space-l);
}

.map-visualizations ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.map-visualizations li {
    display: flex;
    align-items: center;
    margin-bottom: var(--ui-space-s);
}

.map-visualizations li p {
    margin-right: var(--ui-space-l);
}
