#editor {
    display: flex;
    flex-direction: row;
}

#map {
    margin: 1em;
    min-width: 500px;
    width: 100%;
}

#title-field {
    display: flex;
    align-items: center;
}

#map-options {
    display: flex;
    flex-direction: column;
    padding: 1em;
    min-width: 300px;
}

#map-visualization-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map-options > fieldset {
    margin: 1em 0;
}

.publish-button {
    margin: 1em 0 !important;
}
