#data-selector {
    min-width: 410px;
}

.selected-group {
    background: #eee;
}

.padded {
    padding: 0em 12px 0em 12px;
}

.label {
    padding: 1em 1em;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.input {
    display: none;
}

.input:checked + .label {
    background: #eee;
}

.label .name,
.label:hover .name {
    text-decoration: underline;
}

.label .year {
    font-size: 0.875rem;
    color: #646464;
}

.weight-slider {
    margin: 0 1em !important;
    padding-bottom: 2em !important;
    display: block !important;
    width: auto !important;
    color: #435e7c !important;
    flex-grow: 1;
}

.weight {
    display: flex;
    margin: 0 0 0 30px;
    padding-bottom: 12px;
}

.weight-label {
    align-self: center;
    font-size: 0.875rem;
}

/* no min width if screen is small */
@media (max-width: 600px) {
    #data-selector {
        min-width: auto;
    }
}
