.data-description {
    margin: 1em;
    max-width: 800px;
}

.data-description button {
    padding: 1em 0;
    font-size: 1em;
    border: none;
    text-decoration: underline;
    background-color: #fff;
    color: #777;
    cursor: pointer;
}

.data-description button:hover,
.data-description button.shown {
    color: #000;
}
