#footer {
    padding: var(--ui-space-l);
    background: var(--ui-primary);
    color: #fff;
}

#footer a {
    color: #fff;
}

#footer ul {
    padding: 0;
    margin: 0;
}

#footer #address {
    float: left;
    margin-bottom: var(--ui-space-l);
}

#footer #address p {
    padding: 0;
    margin: 0;
}

#footer li {
    display: inline-block;
    margin-right: var(--ui-space-l);
}

#footer ul#social {
    float: right;
}

#footer #navigation {
    clear: both;
}

#footer #navigation li {
    margin-right: var(--ui-space-2xl);
}
