.content {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.site-overview {
    background: #eee;
    padding: 0.25em 1em;
    margin-bottom: 1em;
}

@media (min-width: 1200px) {
    .content {
        flex-direction: row;
    }
}
