.content {
    margin: 0;
    display: flex;
}

.site-overview {
    background: var(--ui-bg-subtle);
    padding: var(--ui-space-xs) var(--ui-space-l);
    margin-bottom: var(--ui-space-l);
}

.nav-div {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .content {
        flex-direction: column-reverse;
    }
    .nav-div {
        flex-direction: column-reverse;
    }
}
