#map-controls {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#map-controls > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px 20px;
}

.overlays {
    font-size: 0.875rem;
}

.overlay-options {
    max-width: 220px;
}

#report-card-button {
    background-color: hsl(59, 82%, 82%);
    color: black;
    font-weight: 600;
}

#report-card-button:hover {
    background-color: hsl(59, 82%, 91%);
}

#county-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#report-card-tooltip {
    margin-left: 4px;
}
