#map-title {
    font-weight: 400;
    font-size: 25px;
    line-height: 48px;
    margin: 15px 0 15px 60px;
    width: 82%;
    text-align: center;
}

#empty-title {
    height: 48px;
    margin-top: 25px;
}

.zoom-out-button {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 800;
    background-color: hsl(215, 22%, 82%);
    color: black;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.2s ease;
    position: absolute;
    left: 20px;
    top: 9px;
}

.zoom-out-button:hover {
    background-color: rgb(73, 93, 121);
    color: white;
}

.mapTitleContainer {
    position: relative;
}
