/* prevent the empty map from shrinking which makes loads look smoother */
.map {
    min-width: 400px;
    width: 100%;
}

#data-descriptions {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* no min width if screen is small */
@media (max-width: 600px) {
    .map {
        min-width: auto;
    }
}
