.nav {
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav a {
    cursor: pointer;
    display: block;
    color: #000;
    text-decoration: none;
    padding: 12px 16px;
    text-transform: capitalize;
    margin: 0;
    border: none;
    font-size: inherit;
    background: none;
}

.nav a:hover {
    background: #e3eaf1;
    color: var(--ui-primary);
}

.nav a.selected {
    background: var(--ui-primary);
    color: #fff;
}

.nav a.uncategorized {
    background: #fff6d0;
}

.nav a.uncategorized:hover {
    background: #fce995;
    color: #2c2506;
}

.nav a.uncategorized.selected {
    background: #ffda37;
    color: #000;
}

.region-nav {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 1em;
}

input.new-tab {
    margin-left: 2em;
    font: inherit;
    font-size: 0.875rem;
    padding: 8px 12px;
    border: 1px solid var(--ui-border);
    border-radius: var(--ui-radius);
}

button.create-tab {
    border: 1px solid var(--ui-border);
    border-radius: var(--ui-radius);
    padding: 8px 12px;
    font: inherit;
    font-size: 0.875rem;
    cursor: pointer;
    background-color: #f0f6fc;
    margin-left: 5px;
}

button.create-tab:hover {
    background: #ddeaf6;
}

button.create-tab:disabled {
    cursor: not-allowed;
    background: #ffffff !important;
}

/* do not pad region nav so much on small screen sizes */
@media (max-width: 600px) {
    .region-nav {
        margin-left: 1em;
    }
}
