#nav {
    margin-bottom: 1em;
    display: flex;
}

#nav a {
    cursor: pointer;
    display: block;
    color: #000;
    text-decoration: none;
    padding: 1em;
    text-transform: capitalize;
    margin: 0;
    border: none;
    font-size: inherit;
    background: none;
}

#nav a:hover {
    background: #e3eaf1;
    color: #435e7c;
}

#nav a.selected {
    background: #435e7c;
    color: #fff;
}

#nav a.uncategorized {
    background: #fff6d0;
}

#nav a.uncategorized:hover {
    background: #fce995;
    color: #2c2506;
}

#nav a.uncategorized.selected {
    background: #ffda37;
    color: #000;
}
