h1 {
    text-transform: capitalize;
}

.county-metrics {
    border-collapse: collapse;
}

.county-metrics thead {
    background-color: var(--bg-subtle);
    font-weight: bold;
}

.county-metrics thead td {
    padding-left: var(--size-s);
}

.county-metrics tr:hover {
    background: var(--bg-hover);
}

.county-metrics td {
    padding: 0;
}

.county-metrics td + td {
    border-left: 2px solid var(--border);
}

.report-card {
    padding: var(--size-m);
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
}

.report-card h1 {
    margin: 0;
}

.percentile-bar {
    background-color: #000000;
    height: 10px;
    width: 0%;
    margin: var(--size-s) 0;
    border: 1px solid #000000;
}

.county-metrics .percentile-bar-column {
    padding-left: 0;
    border-left-style: hidden !important;
    padding-right: var(--size-s);
    width: 15%;
}

.county-metrics .percentile-column {
    width: 2em;
    padding-right: var(--size-s);
    padding-left: var(--size-s);
}

.county-metrics .raw-val-column {
    padding-left: var(--size-s);
}

.county-metrics .metric-column {
    padding-left: var(--size-s);
}

#statePercentileCheckbox {
    display: flex;
    align-items: center;
}
