h1 {
    text-transform: capitalize;
}

.county-metrics {
    border-collapse: collapse;
}

.county-metrics thead {
    background-color: #f2f2f2;
    font-weight: bold;
}

.county-metrics thead td {
    padding-left: .25em;
}

.county-metrics tr:hover {
    background: #f2f2f2;
}

.county-metrics td{
    padding: 0em;
}

.county-metrics td + td {
    border-left: 2px solid #ddd;
}

.report-card {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.percentile-bar {
    background-color: #000000;
    height: 10px;
    width: 0%;
    margin: 0.5em 0;
    border:1px solid #000000;
}

.county-metrics .percentile-bar-column {
    padding-left: 0;
    border-left-style: hidden!important;
    padding-right: .5em;
    width: 15%
}

.county-metrics .percentile-column {
    width: 2em;
    padding-right: .5em;
    padding-left: .25em;
}

.county-metrics .raw-val-column {
    padding-left: .25em; 
}

.county-metrics .metric-column {
    padding-left: .25em; 
}