body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top,#77a4d5,#013064);
    background-repeat: repeat;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-weight: 500;
    color: #11598d;
    font-family: 'Merriweather', serif;
}

#root {
    margin: 0;
    width: 100%;
    max-width: 1800px;
    background: #fff;
    box-shadow: 0px 1px 13px -2px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mst-title {
    display:flex;
    align-items: center;
    flex-grow: 1;
}

#mst-title h1 {
    margin-left: 1em;
}

#mst-logo {
    height: 120px;
    margin-left: 1em;
}

#joint-program-logo {
    height: 100px;
    margin: 0 1em;
}

#mit-logo {
    margin: 0 1em;
}

nav ul {
    display: flex;
}

nav ul {
    margin:0;
    padding:0;
    list-style: none;
}

nav li {
    cursor: pointer;
    display: block;
    color: #000;
    text-decoration: none;
    padding: 1em;
    text-transform: capitalize;
}

nav li:hover {
    background:#e3eaf1;
    color: #435e7c;
}

nav li.selected {
    background:#435e7c;
    color: #fff;
}

nav li a {
    display: block;
    text-decoration: none;
    color: #000; 
}

.sub-selector {
    display: flex;
    background:#eee;
    padding:0 0 0 1em;
}

.sub-selector input {
    display: none;
}

.sub-selector label {
    display: block;
    border:1px;
    padding:1em;
    cursor: pointer;
}

.sub-selector label:hover, .sub-selector input:checked + label {
    text-decoration:underline;
}

#data-selector {
    overflow: auto;
    max-height: 900px;
    min-width:410px
}

label.data-group {
    display: block;
    padding: 1em 1em;
    margin: 0;
    cursor: pointer;
}

label.data-group:hover {
    text-decoration: underline;
}

input.data-group {
    display:none;
}

input.data-group:checked + label {
    text-decoration: underline;
    background: #eee;
}

#content {
    margin: 0;
    display:flex;
}

.data-missing {
    padding: 0 1em 1em 1em;
}

.weight-slider {
    margin: 0 1em !important;
    padding-bottom: 2em !important;
    display: block !important;
    width: auto !important;
    color: #435e7c !important;
}

#map {
    min-width: 500px;
    width:100%;
}

#description, #dataset-description {
    margin: 1em;
    max-width: 800px;
}

#dataset-description button, #description button {
    padding:1em 0;
    font-size: 1em;
    border: none;
    text-decoration: underline;
    background-color:#fff;
    color: #777;
    cursor: pointer;
}

#dataset-description button:hover,
#dataset-description button.shown,
#description button:hover,
#description button.shown {
    color: #000;
}

footer {
    padding: 1em;
    background:#435e7c;
    color: #fff;
}

footer a {
    color: #fff;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer #address {
    float: left;
    margin-bottom: 1em;
}

footer #address p {
    padding: 0;
    margin: 0;
}

footer li {
    display: inline-block;
    margin-right: 1em;
}

footer ul#social {
    float: right;
}

footer #navigation {
    clear: both;
}

footer #navigation li {
    margin-right: 2em;
}

.slider {
    margin-left:1em;
    margin-right: 1em;
    width: auto;
    padding-bottom:2em;
}

.selected-group {
    background: #eee;
}

.MuiToggleButtonGroup-root {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

#download {
    list-style:none;
}

h2 {
    margin-left:1em;
}

#map-controls {
    margin-left:4em;
}

.weight {
    display: flex;
    margin: 0 1em;
}

.weight-label {
    margin-top:0.2em;
    font-size: 0.875rem;
}

.weight-slider {
    flex-grow: 1;
}

.MuiAccordionDetails-root {
    flex-direction: column;
}