body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top,#77a4d5,#013064);
    background-repeat: repeat;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 20px;
}

h1, h2 {
    font-weight: 500;
    color: #11598d;
}

#root {
    margin: 0;
    width: 100%;
    max-width: 1400px;
    background: #fff;
    box-shadow: 0px 1px 13px -2px rgba(0,0,0,0.5);
}

header {
    margin-bottom: 1em;
    display: flex;
}

header h1 {
    margin-left: 1em
}

header img {
    float:left;
    width: 90px;
    height: 90px;
    margin-left: 1em;
}

#content {
    margin: 0 1em;
    clear: both;
}

svg {
    max-width: 1400px;
}

select {
    margin: 1em 0;
    font-size: 1em;
}

#description {
    padding: 1em 0.5em;
    margin: 0;
    max-width: 800px;
}

footer {
    padding: 1em;
    background:#435e7c;
    color: #fff;
}

footer a {
    color: #fff;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer #address {
    float: left;
    margin-bottom: 1em;
}

footer #address p {
    padding: 0;
    margin: 0;
}

footer li {
    display: inline-block;
    margin-right: 1em;
}

footer ul#social {
    float: right;
}

footer #navigation {
    clear: both;
}

footer #navigation li {
    margin-right: 2em;
}