body {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    font-weight: 200;
}

#root {
    margin: 2em;
    width: 100%;
    max-width: 1400px;
}

svg {
    max-width: 1400px;
}

select {
    margin: 1em 0;
    font-size: 1em;
}

#description {
    padding: 1em 0.5em;
    margin: 0;
    max-width: 800px;
}